h1 {
    font-size: 39px;
    color: rgb(15, 216, 8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(36, 156, 165);
}

#destaque {
    font-size: 20px;
    background-color: rgb(250, 201, 250);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#trybe {
    text-align: center;
    font-size: 32px;
    color: chartreuse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#habilidades {
    font-size: 25px;
    color: rgb(23, 20, 220);
    
}
#nome {
    text-align: center;
}

#apresentação {
    width: 300px;
}